{% load static %}
<html>
    <head>
        <title>RVGL Times</title>
        <link rel="stylesheet" href="{% static "rvgl.min.css" %}" />
    </head>
    <body>
        <div id="content">
            <div id="track">
                <span><span class="label">Track:</span> {{ track }}{% if mode != 'normal' %} ({{ mode }}){% endif %}</span>
            </div>
            <div id="table">
                <span><span class="label">Rating:</span> {{ category }}</span>
                <table>
                    {% for time in times %}
                    <tr>
                        <td>{{ time.strtime }}</td>
                        <td>{{ time.profile }}</td>
                        <td>{{ time.car }}</td>
                    </tr>
                    {% endfor %}
                    {% if not times %}
                    <tr>
                        <td>---------</td>
                        <td>----------------</td>
                        <td>--------------------</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </body>
</html>